<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Foresome</title>
    <link href="/assets/css/reset.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt:300,400" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
 
    {{{body}}}
 
    {{!-- Custom Javascript Files --}}
 	{{!-- <script type="text/javascript" src="/assets/js/background.js"></script> --}}
	<script src="/assets/js/app.js"></script>

</body>
</html>
