<div style="background-color: #000;">
	<h1>Welcome back to FORE!some</h1>

	<p>{{this.first_name}}</p>
	<p>{{this.email}}</p>

	<h4>These are your best matches:</h4>

	<form method="POST" action="/logout">
		<button>Log out</button>
	</form>
</div>