<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		
		<div class="navbar-header">
			<h2 class="navbar-logo"><span id="fore2">FORE!</span>some</h2>
		</div>

		<form method="POST" action="/logout" id="logout-form">
			<button type="submit" id="logout_submit">Log out</button>
		</form>
	</div>
</nav>

<div id="content-wrapper">
	{{!-- <img src="assets/img/course_pic_3.jpg" id="bg" alt="Golf Course"> --}}
	<div class="row">
		<div class="col-md-6 col-md-offset-3" id="welcome-back">
			<div class="text-center">
				<h1 id="welcome-back-message">Welcome back, {{this.first_name}}!</h1>
			</div>
			<div class="user-info" id="email-and-pic">
				<img src="/{{this.profile_pic}}" class="profile_pic" height="100" width="125" alt="Profile Pic">
				<p id="email">{{this.email}}</p>
			</div>
			<div class="user-info" id="handicap-message">
				<p>It looks like right now we have your handicap at &nbsp;&nbsp;<span id="handicap">{{this.handicap}}</span>.</p>
				<button type="submit" id="update-handicap">Update Handicap</button>
			</div>
		</div>
	</div>
</div>