<div style="background-color: #000;">
	<h1>Welcome to FORE!some</h1>

	<hr>
	<p>{{this.first_name}}</p>
	<p>{{this.email}}</p>

	<hr>
	<h4>Do you know your handicap?</h4>
	<button id="handicap-yes">Yes</button>
	<button id="handicap-no">No</button>

	<hr>
	<div class="hidden enter-handicap">
		<p>Ok great!  Enter it below:</p>
		<form method="POST" action="/handicapSubmit?_method=PUT">
			<label for="handicap">Handicap</label>
			<input type="number" id="handicap" name="handicap"><br>
			<button type="submit" id="handicap-submit">Submit</button>
		</form>
		<button class="go-back">Go back</button>
	</div>

	<hr>
	<div class="hidden enter-scores">
		<p>No problem!  Enter at least your last 5 rounds, and up to your last 15.  <br>(the more you enter, the more accurately we can calculate your handicap)</p>
		<hr>
		<form method="POST" action="/roundsSubmit?_method=PUT">
			<div class="first-five-rounds">
				<label for="round1">Round 1:</label>
				<input type="number" class="round" id="round1" name="round1">

				<label for="round2">Round 2:</label>
				<input type="number" class="round" id="round2" name="round2">

				<label for="round3">Round 3:</label>
				<input type="number" class="round" id="round3" name="round3">

				<label for="round4">Round 4:</label>
				<input type="number" class="round" id="round4" name="round4">

				<label for="round5">Round 5:</label>
				<input type="number" class="round" id="round5" name="round5">
				
				<a href="#" id="show-second-five">
					<p>Show five more...</p>
				</a>

			</div>

			<div class="hidden second-five-rounds">
				<label for="round6">Round 6:</label>
				<input type="number" class="round" id="round6" name="round6">

				<label for="round7">Round 7:</label>
				<input type="number" class="round" id="round7" name="round7">

				<label for="round8">Round 8:</label>
				<input type="number" class="round" id="round8" name="round8">

				<label for="round9">Round 9:</label>
				<input type="number" class="round" id="round9" name="round9">

				<label for="round10">Round 10:</label>
				<input type="number" class="round" id="round10" name="round10">

				<a href="#" id="show-third-five">
					<p>Show five more...</p>
				</a>

				<a href="#" id="hide-second-five">
					<p>Hide</p>
				</a>
			</div>

			<div class="hidden third-five-rounds">
				<label for="round11">Round 11:</label>
				<input type="number" class="round" id="round11" name="round11">

				<label for="round12">Round 12:</label>
				<input type="number" class="round" id="round12" name="round12">

				<label for="round13">Round 13:</label>
				<input type="number" class="round" id="round13" name="round13">

				<label for="round14">Round 14:</label>
				<input type="number" class="round" id="round14" name="round14">

				<label for="round15">Round 15:</label>
				<input type="number" class="round" id="round15" name="round15">

				<a href="#" id="hide-third-five">
					<p>Hide</p>
				</a>
			</div>
			<button type="submit" id="rounds-submit">Calculate my handicap</button>
		</form>
		<button class="go-back">Go back</button>
	</div>

	<hr>
	<div class="hidden">
		<h4>Great!  So we've got your handicap at <span id="calculated-handicap"></span>.  Click on the button below to see your best matches!</h4>
		<button id="redirect-to-admin">Show me my matches!</button>
	</div>
</div>